body{
background-color:darkred;
font-family:cursive;
text-align:;
color:ghostwhite;
}
h1{
text-align:center;
font-weight:bold;
text-decoration:;
}
#box1{
background:#6A0018;
}
#box2{
background-color:#BE3261;
}
#box3{
background-color:#66000F;
}
.boxes{
border:1px solid black;
height:200px;
}
@media (min-width:992px){
.boxes{
width:33%;
display:inline;
}
#box1{
position:absolute;
left:1px;
}
#box2{
position:absolute;
left:33%;
}
#box3{
position:absolute;
left:66%;
}
}
@media (min-width:768px) and (max-width:991px){
#box1{
margin-right:;
width:49%;
}
#box2{
margin-left:1%;
width:49%;
}
#box3{
margin-top:5px;
width:100%;
margin-left:;
word-spacing:5px;
letter-spacing:5px;
}
#box1,#box2{

display:inline-block;
}
}
@media (max-width:767px)
{
.boxes{
width:100%;
margin-top:5px;
}
}
.boxes .para{
font-size:30px;
float:right;
width:25%;
margin-top:0px;
background-color:chocolate;
text-align:center;
}
.boxes p{
text-align:justify;
word-spacing:3px;
}





